@{
    ViewData["Title"] = "Home Page";
}

<h1>Track your runs with this running app!</h1>

<img src="~/images/FUN-RUN.jpg" />

<h2>Choose from one of our great options below</h2>

<ul>
    <li><a asp-action="PaceCalculator" asp-controller="Calculators">Pace Calculator</a></li>
    <li><a asp-action="GoalSetter" asp-controller="Calculators">Goal Setter</a></li>
</ul>