@{
    ViewData["Title"] = "Home Page";
}
<div id="home">
    <header>
        <h1>Welcome to RunTlme!</h1>
        <h4>Find out what your average pace is and keep track of the times and distances of all your runs with Runtlme.</h4>

        <img id="home-image" src="~/images/dark-runner.jpg" />
    </header>
    <main id="content">
        <h2>Choose from one of the options below</h2>
        @*<div class="desktop">
            <ul id="home-options">
                <li><a asp-action="PaceCalculator" asp-controller="Calculators">Pace Calculator</a></li>
                <li><a asp-action="ShowHistory" asp-controller="RunHistory">Your Run History</a></li>
                <li><a asp-action="GoalEntry" asp-controller="Goals">Goal Runs</a></li>
            </ul>
        </div>
        <div class="mobile">
            <ul id="home-options">
                <li><a asp-action="RunRecorder" asp-controller="Recorder">Run Recorder</a></li>
                <li><a asp-action="PaceCalculator" asp-controller="Calculators">Pace Calculator</a></li>
                <li><a asp-action="ShowHistory" asp-controller="RunHistory">Your Run History</a></li>
            </ul>
        </div>*@
        <a class="home-options mobile" asp-action="RunRecorder" asp-controller="Recorder">Run Recorder</a>
        <a class="home-options" asp-action="PaceCalculator" asp-controller="Calculators">Pace Calculator</a>
        <a class="home-options" asp-action="ShowHistory" asp-controller="RunHistory">Your Run History</a>
        <a class="home-options" asp-action="GoalEntry" asp-controller="Goals">Goal Calculator</a>
    </main>
    
</div>
