@model RunData
@{
    ViewData["Title"] = "RunRecorder";
}

<div id="recorder-warning" class="warning">

    <div class="warning-content">
        <p>In order to use the run recorder you must check your mobile device's settings and make sure that your web browser is allowed to access your location</p></p>
    </div>

</div>

<button id="start" class="recorder-button">Start</button>
<button id="stop" class="hidden recorder-button">Stop</button>
<button id="resume" class="hidden recorder-button">Resume</button>
<button id="reset" class="hidden recorder-button">Reset</button>

<h1 id="runningTimer" data-time="0">00:00:00</h1>

<h2 id="distance-covered" data-distance="0"></h2>

<form asp-controller="Calculators" asp-action="PaceCalculatorResult" method="get" novalidate>
    <label class="hidden" asp-for="Distance">Distance in miles</label>
    <input class="hidden" id="distance-recorded" asp-for="Distance" type="number" min="0" />
    
    <label class="hidden" asp-for="Hours">Hours</label>
    <input class="hidden" id="hours-recorded" asp-for="Hours" type="number" />
    
    <label class="hidden" asp-for="Minutes">Minutes</label>
    <input class="hidden" id="minutes-recorded" asp-for="Minutes" type="number" />
    
    <label class="hidden" asp-for="Seconds">Seconds</label>
    <input class="hidden" id="seconds-recorded" asp-for="Seconds" type="number" />
    
    <button id="submit-data" class="hidden submit-button" type="submit">Caculate Pace</button>
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=geometry"></script>
