/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../images/dark-metal-texture.jpg);
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#home-image {
    width: 500px;
}

#home-options {
    padding-left: 0;
    margin-top: 3rem;
}

#home-options li {
    display: inline-block;
    list-style: none;
    color: red !important;
    padding: 1rem 0 1rem 0;
    width: 15rem;
    background-color: #1c7da2;
    margin-right: 2rem;
    text-align: center;
    border-radius: 3px;

}

#home-options a {
    color: aliceblue;
}

input[type=number] {
    color: black;
}

input[type=text] {
    color: black;
}

input[type=submit] {
    color: black;
}

select {
    color: black;
}

.label-input {
    display: inline-block;
    margin-right: 25px;
}

    .label-input input[type=number] {
        width: 15rem;
        height: 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: aqua;
        border: 2px solid aqua;
        border-radius: 3px;
        font-size: 3.5rem;
        text-align: end;
        padding: 1rem;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}